@import "functions";

$spacer: 16px;

$color-white: white;
$color-black: black;

$color-dark: #1A1A1A;
$color-text: #D6D6D6;
$color-secondary-text: #353535;

$color-main: #63B538;
$color-accent: #BF4333;

$time-animation: .36s;
$time-animation--fast: .18s;